@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: darkslateblue;
}

html{
    scroll-behavior: smooth;
}
#About-font1 {
  font-size: 22px;
}
.container h1{
  color: #fff;
  font-size: 30px;
  font-family: 'Moon Dance', cursive;
  letter-spacing: 0.15em;
  opacity: 0.8;
}
.container h1:hover{
  opacity: 1;
}

#header{
    width: 100%;
    height: 100vh !important;
    background-image: url(images/Hoempage.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
    z-index: 1; /* Ensure the overlay appears above the images */
}

  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #205e43; /* Set your desired background color */
    z-index: 2; 
  }
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
}

  .logo{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    display: flex;
    align-items: center;
  }

  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after{
    width: 100%;
  
  }
  .header-text{
    padding-top: 100px;
    font-weight: 900;
    margin-top: 30%;
    font-size: 30px;
    font-family: 'Darker Grotesque', cursive;
    text-align: center;
  }
  .header-text h1{
    font-size: 60px;
  }
  #About-font2{
    color: aliceblue;
    font-family: 'Darker Grotesque', cursive;
    font-size: 50px;
    font-weight: 700;
  }

  .btn{
    background: #000;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.7em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    word-spacing: 0.15em;
    transition: 0.25s ease all;
    font-family: 'Monoton', cursive;
  }
  .btn:hover{
    background: #ffd346;
    color: #000;
  
  }
  .btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    background-color: #f8f8f8;
    border: 1px solid #fff;
    padding: 13px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #205e43;
    transition: background 0.5s;
    font-weight: bold;
  }
  .btn2:hover{
    border: 1px solid #fff;
    background: #d8d5d5;
  
  }

/* ------- About Section ----------------------------- */
#about{
  padding-top: 5%;
  padding-bottom: 5%;
}

#left-paragraph{
  font-size: 35px;
  font-weight: 80%;
  text-align: center;
  font-family: 'Darker Grotesque', cursive;
  word-spacing: 0.1em;
  font-weight: 900;
  margin-bottom: 30px;
}

#right-paragraph{
  font-size: 20px;
  font-weight: 80%;
  max-width: 700px;
  text-align: center;
  margin-left: 22%;
}
#tricky-section {
  background-color: #205e43;
  color: #fff;
  text-align: center;
  padding: 40px;
}

.square-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.square {
  width: 220px;
  height: 220px;
  background-color: #fff;
  margin: 0 10px;
}
.square img{
    width: 100%;
    height: 100%;
  } 
/* ----------- Services Section --------------- */
.card-text{
  font-size: 12px;
}
.services {
  margin-top: 20px;
  color: #fff;
}
.services ul {
  list-style-type: disc;
  padding-left: 20px;
}
.services li {
  font-size: 19px;
  margin-bottom: 10px;
}


/* ------------ Verification section ----------- */
.color-section {
  display: flex;
}

.color-box {
  flex: 1;
  height: 500px;
  padding: 20px;
  text-align: center;
}

.red {
  background-color: #205e43;
}

.green {
  background-color: #f8f8f8;
}

.blue {
  background-color: #205e43;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/*-------------- Testimonials --------------  */
#testimonial_area{
  padding: 10% 0;
}
.box-area{
  padding: 30px;
  position: relative;
  display: block;
  background: #fff;
  color: #000;
  box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
  margin: 40px 0;
}
.box-area h5{
  font-size: 16px;
  font-weight: 700;
  color: #0a69ed;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.box-area span{
  color: #262626;
  display: block;
  font-size: 13px;
  margin: 0 0 10px;
  font-weight: 400;

}
.box-area .content{
  color: #262626;

}
.box-area .img-area{
  width: 90px;
  height: 90px;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.box-area .img-area img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  
}
.socials{
  margin-top: 30px;

}
.content i{
  margin: 0 10px;
  color: #0a69ed;
  font-size: 18px;

}
#testimonial_area .owl nav{
  position: absolute;
  top: 50%;
  width: 100%;

}
#testimonial_area .owl-prev,
#testimonial_area .owl-next{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #0a69ed;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
}
#testimonial_area .owl-prev{
  left: -60px;
  top: 40%;
  font-size: 40px;

}
#testimonial_area .owl-next{
  right: -60px;
  top: 40%;
  font-size: 40px;
  
}
/*------------- Contact us -----------------------  */
/* ----Contact Section ----------- */
.d-flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/** Social media Icons **/
.socials{
  text-align: center;
  background-color: #d8b542;
}

.fa {
  font-size: 3em; /* Set the icon size */
  padding: 7px; /* Add some space around the icon */
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 3%; /* Add some space between the icons */
  text-decoration: none; /* Remove the underline from the links */
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7; /* Make the icon slightly transparent on hover */
}

/* Set a specific color for each icon */
.fa-instagram {
  color: #e4405f; /* Use the Instagram brand color */
}

.fa-facebook {
  color: #3b5998; /* Use the Facebook brand color */
}

.fa-twitter {
  color: #55acee; /* Use the Twitter brand color */
}

.fa-envelope {
  color: #d44638; /* Use a red color for the email icon */
}

.fa-map-marker {
  color: #4caf50; /* Use a green color for the location icon */
}

.fa-phone {
  color: #2196f3; /* Use a blue color for the phone icon */
}

h4 {
  margin-top: 10px;
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 20px;
}
.foot{
  background-color: #e8e3d1;
}

.footer {
  max-width: 1216px;
  margin: 0 auto;
  position: relative;
  font-weight: 800;
}

.mb-20 {
  margin-bottom: 20px !important;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
}

.col {
  padding-left: 15px;
  padding-right: 15px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.list-unstyled a {
  margin-bottom: 7px;
  font-size: 21px;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  
}

.text-fine{
  font-size: 20px;
  color: darkslateblue;
}
::-webkit-scrollbar{
  width: 13px;
}

::-webkit-scrollbar-track{
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
  background: #16c478;
  border-radius: 15px;
}
/* -----------MEDIA QUARRIES --------------- */
nav .fas{
  display: none;
}
@media only screen and (max-width: 991px){
  .owl-nav{
    display: none;
  }
  
  .contact{
    padding: 50px;
  }
  .contact-section{
    flex-direction: column;
  }
  .contact-section .contact-info{
    margin-bottom: 40px;
  }
  .contact-section .contact-info .contact-form{
    width: 100%;
  }
  .fas{
    color: #16c478;
  }
}
@media only screen and (max-width: 767px){
  .owl-nav{
    display: none;
  }
  .box-area{
    text-align: center;
  }
  .color-section {
    display: flex;
    flex-direction: column;
  }
  .contact-form{
    width: 100%;
  }
  .square-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .header-text{
    margin-top: 35%;
}
.title{
  font-size: 30px;
}
nav .fas{
    display: block;
    font-size: 25px;
}
#right-paragraph{
  font-size: 14px;
}
nav ul li a{
  color: #205e43;
}
nav ul{
    background: #f8f8f8;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
#left-paragraph{
  font-size: 22px;
}
.container h2{
  font-size: 26px !important;
}
.container p{
  font-size: 14px !important;
}
.container h1{
  font-size: 45px !important;
}
.services li {
  font-size: 13px;
}
.contact .content p{
  font-weight: 300;
  color: #fff;
  font-size: 13px;
}
#About-font2{
  font-size: 26px !important;
}
#About-font3{
  font-size: 36px !important;
}
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* CSS rules specific to tablets go here */
  .fas{
    color: #16c478;
  }
  nav .fas{
    display: block;
    font-size: 25px;
}
nav ul li a{
    color: #205e43;
  }
  nav .fas{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #f8f8f8;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin: 25px;
}
nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.owl-nav{
  display: none;
}
.header-text{
  padding-top: 100px;
  font-weight: 800;
  margin-top: 20%;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}

}
@media only screen and (max-width: 1000px) and (orientation: landscape) {
  /* CSS styles for phones in landscape mode */
  /* Place your styles here */
  #header{
    width: 100%;
    height: 150vh !important;
    background-image: url(images/Hoempage.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
  }

  .header-text{
    padding-top: 100px;
    font-weight: 800;
    margin-top: 9%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
  }
  #header{
    position: absolute;
  }
  #about{
    padding-top: 80%;
  }
  .header-text{
    padding-bottom: 2%;
  }
  #header{
    width: 100%;
    height: 100%;
  }
  #About-font2{
    font-size: 26px !important;
  }
  #About-font3{
    font-size: 36px !important;
  }
}
@media (max-width: 767px) {
  .flex-col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
  }
  }
  
  @media (min-width: 768px) {
  .s1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      -webkit-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
  }
  }
  
  @media (min-width: 768px) {
  .s2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      -webkit-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
  }
  
  /* Use media queries to make the icons responsive */
  @media screen and (max-width: 600px) {
    .fa {
      font-size: 1.5em; /* Reduce the icon size for smaller screens */
      padding: 5px; /* Reduce the space around the icon for smaller screens */
      margin: 12px; /* Reduce the space between the icons for smaller screens */
    }
  }